/* General CSS */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  height: 100vh;
  font-family: "Montserrat";
}
.all {
  height: 100%;
}
.no-padding {
  padding: 0;
}

/* Sidebar */
.sidebar {
  padding: 0;
}
.sidebar-margin-left {
  margin-left: 30px;
}
/* Sidebar Header */

.sidebar-header {
  height: 10%;
  border-bottom: 1px solid #ebeff2;
  width: 100%;
  align-items: center;
  display: flex;
}
.sidebar-header h3 {
  color: rgb(24, 160, 251);
  font-size: 18px;
}

/* Sidebar middle */
.sidebar-middle {
  border-bottom: 1px solid #ebeff2;
  height: 40%;
}
.sidebar-middle .nav-item {
  font-size: 13px;
}
.sidebar .avatar {
  border-radius: 50%;
}
